<html ng-app="todoapp">
  <head>
  	<link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>
  </head>
  <body>
  	<script src="https://use.edgefonts.net/vast-shadow:n4:all.js"></script>
  	<script src="https://use.edgefonts.net/vast-shadow:n4:all;megrim.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="js/lib/angular.min.js" ></script>
    <script src="js/lib/localforage.min.js" ></script>
    <script src="js/lib/ngStorage.min.js"></script>
    <script src="js/app/todo/application.js"></script>
    <script src="js/app/todo/service.js"></script>
    <script src="js/app/todo/controller.js"></script>
    <div class="todo-wrapper" ng-controller="TodoCtrl" ng-init="loadPage()">
      <h2>You've got <span class="emphasis">{{items.length}}</span> things to do</h2>
      <ul>
        <li ng-repeat="item in items">
          <input type="checkbox" ng-model="item.status" ng-click="updateItem(item)"/>
          <span class="done-{{item.done}}">{{item.description}}</span>
        </li>
      </ul>
      <form>
        <input class="add-input" placeholder="I need to..." type="text" ng-model="desc" ng-model-instant />
        <button class="add-btn" ng-click="addItem()"><h2>Add</h2></button>
      </form>
      
      <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
    </div>
  </body>
</html>